{% extends 'perepis/base_lk.html' %}
{% load static %}
{% block content %}
    <!-- Статистика -->
    <div class="page-content">
      <div class="main-wrapper">
        <form method="GET" action="{% url 'charts' profile.pk %}">
          <!-- Черная штука -->
          <div class="row">
            <div class="col">
              <div class="card bg-dark">
                <div class="card-body">
                  <h1 class="text-white col-sm text-center">Статистика</h1>
                  <p class="text-white text-center">Выберите устраивающие вас фильтры.</p>
                </div>
              </div>
            </div>
          </div>
          <!-- Черная штука конец -->
          <!-- Образование СП УС  -->
          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Образование</h5>
                  <div class="form-check form-switch">
                    {{ form.klass_11 }}
                    <label class="form-check-label" for="flexSwitchCheckDefault">Среднее общее образование</label>
                  </div>
                  <div class="form-check form-switch">
                    {{ form.PTU }}
                    <label class="form-check-label" for="flexSwitchCheckDefault">Среднее профессиональное образование</label>
                  </div>
                  <div class="form-check form-switch">
                    {{ form.VUZ }}
                    <label class="form-check-label" for="flexSwitchCheckDefault">Высшее профессиональное образование</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Семейное положение</h5>
                    {% for radio in form.married %}
                        <div class="form-check">
                            {{ radio.choice_label }}
                            {{ radio.tag }}
                        </div>
                    {% endfor %}
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Ученые степени</h5>
                  <div class="form-check form-switch">
                    {{ form.candidate_of_science }}
                    <label class="form-check-label" for="flexSwitchCheckDefault">Кандидат наук</label>
                  </div>
                  <div class="form-check form-switch">
                    {{ form.doctor_of_science }}
                    <label class="form-check-label" for="flexSwitchCheckDefault">Доктор наук</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Образование СП УС конец  -->
          <!-- Дети пол Регион  -->
          <div class="row">
            <!-- Дети  -->
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Дети</h5>
                  {{ form.child }}
                </div>
              </div>
            </div>
            <!-- Дети конец -->
            <!-- Пол  -->
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Пол</h5>
                    {% for radio in form.sex %}
                        <div class="form-check">
                            {{ radio }}
                        </div>
                    {% endfor %}
                </div>
              </div>
            </div>
            <!-- Пол конец -->
            <!-- Регион  -->
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Регион</h5>
                  {{ form.region }}
                </div>
              </div>
            </div>
            <!-- Регион конец  -->
          </div>
          <!-- Дети пол Регион конец  -->
          <!-- Кнопка поиск  -->
        <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <!-- Кнопка модальное окно -->
                  <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">
                    Поиск
                  </button>
                  <!-- Модальное окно -->
                  <div class="modal fade" id="exampleModalCenter" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalCenterTitle">Ваш результат</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
  
                        <div class="modal-body">
                          <div class="row">
                            <div class="col">
                              <div class="card">
                                <div class="card-body">
                                  <h5 class="card-title">Статистика</h5>
                                  <div id="apex7"></div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
  
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Очистить поля</button>
                          <button type="button" class="btn btn-primary">Найти еще!</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Модальное окно конец -->
                </div>
              </div>
            </div>
          </div>
          <!-- Кнопка поиск конец  -->
        </form>
      </div>
    </div>
  </div>
{% endblock %}
{% block js %}
<script src="{% static 'perepis/lk/plugins/apexcharts/apexcharts.min.js' %}"></script>
<script src="{% static 'perepis/lk/plugins/chartjs/chart.bundle.min.js' %}"></script>
<script src="{% static 'perepis/lk/js/pages/charts.js' %}"></script>
{% endblock %}