{% extends 'perepis/base_lk.html' %}
{% load static %}
{% block content %}
<!-- Черная штука -->
<div class="page-content">
    <div class="main-wrapper">


<!-- Черная штука -->
        <div class="row col-8 mx-auto">
            <div class="col mx-auto">
                <div class="card bg-dark">
                    <div class="card-body">
                        <h1 class="text-white col-sm">Статистика</h1>
                        <p class="text-white">Выберите устраивающие вас фильтры.</p>
                    </div>
                </div>
            </div>
        </div>
<!-- Черная штука конец -->

<!-- Образование СП УС  -->
        <div class="row">
            <div class="col">
                <form>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Образование</h5>
                          <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                            <label class="form-check-label" for="flexSwitchCheckDefault">Общее образование</label>
                          </div>
                          <div class="form-check form-switch">
                              <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                              <label class="form-check-label" for="flexSwitchCheckDefault">Профессиональное образование</label>
                          </div>
                          <div class="form-check form-switch">
                              <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                              <label class="form-check-label" for="flexSwitchCheckDefault">Дополнительное образование</label>
                          </div>
                          <div class="form-check form-switch">
                              <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                              <label class="form-check-label" for="flexSwitchCheckDefault">Профессиональное обучение</label>
                          </div>

                      </div>
                  </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Семейное положение</h5>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault3" id="flexRadioDefault1">
                                <label class="form-check-label" for="flexRadioDefault1">
                                  Не замужем, не женат
                                </label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault3" id="flexRadioDefault2" checked>
                                <label class="form-check-label" for="flexRadioDefault2">
                                  Замужем, женат
                                </label>
                              </div>
                              <div class="form-check">
                                  <input class="form-check-input" type="radio" name="flexRadioDefault3" id="flexRadioDefault1">
                                  <label class="form-check-label" for="flexRadioDefault1">
                                    Разведён, разведена
                                  </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault3" id="flexRadioDefault1">
                                    <label class="form-check-label" for="flexRadioDefault1">
                                      Вдова, вдовец
                                    </label>
                                  </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Ученые степени</h5>
                          <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                            <label class="form-check-label" for="flexSwitchCheckDefault">Кандидат наук</label>
                          </div>
                          <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                            <label class="form-check-label" for="flexSwitchCheckDefault">Доктор наук</label>
                          </div>
                    </div>
                </div>
              </div>
            </div>
<!-- Образование СП УС конец  -->
            <div class="row">
              <div class="col">
                  <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Дети</h5>
                            <select class="form-select" aria-label="Default select example">
                                <option selected>Нет</option>
                                <option value="1">Один</option>
                                <option value="2">Два</option>
                                <option value="3">Три</option>
                                <option value="4">Четыре</option>
                                <option value="5">Пять</option>
                                <option value="6">Шесть</option>
                                <option value="7">Семь</option>
                                <option value="8">Восемь</option>
                                <option value="9">Девять</option>
                                <option value="10">Десять</option>
                              </select>
                        </div>
                      </div>
                    </div>

                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Пол</h5>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault4" id="flexRadioDefault1">
                                    <label class="form-check-label" for="flexRadioDefault1">
                                      Муж
                                    </label>
                                  </div>
                                  <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault4" id="flexRadioDefault2" checked>
                                    <label class="form-check-label" for="flexRadioDefault2">
                                      Жен
                                    </label>
                                  </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Регион</h5>
                            <select class="form-select" aria-label="Default select example">
                              <option value="1">Республика Адыгея</option>
                                  <option value="2">Республика Алтай </option>
                                  <option value="3">Республика Башкортостан </option>
                                  <option value="4">Республика Бурятия </option>
                                  <option value="5">Республика Дагестан </option>
                                  <option value="6">Республика Ингушетия </option>
                                  <option value="7">Кабардино-Балкарская Республика</option>
                                  <option value="8">Республика Калмыкия </option>
                                  <option value="9">Карачаево-Черкесская Республика</option>
                                  <option value="10">Республика Карелия </option>
                                  <option value="11">Республика Коми </option>
                                  <option value="12">Республика Марий Эл </option>
                                  <option value="13">Республика Мордовия </option>
                                  <option value="14">Республика Саха (Якутия) </option>
                                  <option value="15">Республика Северная Осетия - Алания </option>
                                  <option value="16">Республика Татарстан</option>
                                  <option value="17">Республика Тыва </option>
                                  <option value="18">Удмуртская Республика </option>
                                  <option value="19">Республика Хакасия </option>
                                  <option value="20">Чеченская Республика</option>
                                  <option value="21">Чувашская Республика</option>
                                  <option value="22">Алтайский край</option>
                                  <option value="75">Забайкальский край</option>
                                  <option value="41">Камчатский край</option>
                                  <option value="23">Краснодарский край</option>
                                  <option value="24">Красноярский край</option>
                                  <option value="59">Пермский край</option>
                                  <option value="25">Приморский край</option>
                                  <option value="26">Ставропольский край</option>
                                  <option value="27">Хабаровский край</option>
                                  <option value="28">Амурская область </option>
                                  <option value="29">Архангельская область</option>
                                  <option value="30">Астраханская область </option>
                                  <option value="31">Белгородская область</option>
                                  <option value="32">Брянская область </option>
                                  <option value="33">Владимирская область </option>
                                  <option value="34">Волгоградская область </option>
                                  <option value="35">Вологодская область </option>
                                  <option value="36">Воронежская область </option>
                                  <option value="37">Ивановская область </option>
                                  <option value="38">Иркутская область </option>
                                  <option value="39">Калининградская область</option>
                                  <option value="40">Калужская область </option>
                                  <option value="42">Кемеровская область </option>
                                  <option value="43">Кировская область </option>
                                  <option value="44">Костромская область </option>
                                  <option value="45">Курганская область </option>
                                  <option value="46">Курская область </option>
                                  <option value="47">Ленинградская область </option>
                                  <option value="48">Липецкая область </option>
                                  <option value="49">Магаданская область</option>
                                  <option value="50">Московская область </option>
                                  <option value="51">Мурманская область </option>
                                  <option value="52">Нижегородская область </option>
                                  <option value="53">Новгородская область </option>
                                  <option value="54">Новосибирская область </option>
                                  <option value="55">Омская область</option>
                                  <option value="56">Оренбургская область </option>
                                  <option value="57">Орловская область </option>
                                  <option value="58">Пензенская область </option>
                                  <option value="60">Псковская область </option>
                                  <option value="61">Ростовская область </option>
                                  <option value="62">Рязанская область </option>
                                  <option value="63">Самарская область </option>
                                  <option value="64">Саратовская область </option>
                                  <option value="65">Сахалинская область </option>
                                  <option value="66">Свердловская область </option>
                                  <option value="67">Смоленская область </option>
                                  <option value="68">Тамбовская область </option>
                                  <option value="69">Тверская область </option>
                                  <option value="70">Томская область </option>
                                  <option value="71">Тульская область</option>
                                  <option value="72">Тюменская область </option>
                                  <option value="73">Ульяновская область </option>
                                  <option value="74">Челябинская область </option>
                                  <option value="76">Ярославская область</option>
                                  <option value="77">Москва</option>
                                  <option value="78">Санкт-Петербург</option>
                                  <option value="79">Еврейская АО</option>
                                  <option value="80">Ненецкий АО</option>
                                  <option value="81">Ханты-Мансийский АО</option>
                                  <option value="82">Чукотский АО</option>
                                  <option value="83">Ямало-Ненецкий АО</option>
                                  <option value="84">Севастополь</option>
                              </select>
                        </div>
                  </div>
              </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <!-- Button trigger modal -->
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">
              Поиск
              </button>

              <!-- Modal -->
              <div class="modal fade" id="exampleModalCenter" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
              <div class="modal-header">
              <h5 class="modal-title" id="exampleModalCenterTitle">Ваш результат</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">

                <div class="row">
                  <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Статистика</h5>
                            <div id="apex7"></div>
                        </div>
                    </div>
                  </div>

                </div>

              </div>
              <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Очистить поля</button>
              <button type="button" class="btn btn-primary">Найти еще!</button>
              </div>
              </div>
              </div>
              </div>

      </div>

                    </div>
                </div>
            </div>

{% endblock %}
{% block js %}
<script src="{% static 'perepis/lk/plugins/apexcharts/apexcharts.min.js' %}"></script>
<script src="{% static 'perepis/lk/plugins/chartjs/chart.bundle.min.js' %}"></script>
<script src="{% static 'perepis/lk/js/pages/charts.js' %}"></script>
{% endblock %}