<!-- Подклкючение базового html дока -->
{% extends 'perepis/base.html' %}
<!-- Подключение статики -->
{% load static %}
<!-- Ввод названия вкладки title передается в views.py -->
{% block title %} {{ title }} {% endblock %}
<!-- Менюшка сайта -->
{% block menu %}
    <!-- ***** Меню начало ***** -->
    <ul class="nav">
        <li class="submenu">
                <li><a href="#welcome">Начальная страница</a></li>
                <li><a href="#features">Особенности</a></li>
                <li><a href="#testimonials">Рекомендации</a></li>
                <li><a href="{% url 'write_review' %}">Написать отзывы</a></li>
                {% if auth %}
                	<li><a href="{% url 'lk' %}" class="btn-nav-line"><span>Личный кабинет</span></a></li>
                    <li><a href="{% url 'logout' %}" class="btn-nav-line"><span>Выйти</span></a></li>
				{% else %}
				    <li><a href="{% url 'login' %}" class="btn-nav-line"><span>Войти</span></a></li>
				{% endif %}
        </li>
    </ul>
    <!-- ***** Меню конец ***** -->
{% endblock %}
{% block base_info %}
<!-- Основной контент сайтека -->

	<!-- ***** Начало зоны приветствия ***** -->
	<div class="welcome-area" id="welcome">
		<!-- ***** Начало фонового изображения заголовка ***** -->
		<div class="right-bg">
			<img src="{% static 'perepis/img/photos/header.jpg' %}" class="img-fluid float-right" alt="">
		</div>
		<!-- ***** Конец фонового изображения заголовка ***** -->

		<div class="header-bg">
			<img src="{% static 'perepis/img/header-bg.svg' %}" class="img-fluid" alt="">
		</div>

		<!-- ***** Начало текста заголовка ***** -->
		<div class="header-text">
			<div class="container">
				<div class="row">
                    <div class="col-lg-5 col-md-12 col-sm-12">
                        <h1>Оставьте ваш отзыв</h1>
                        <form method="post" action="" enctype="multipart/form-data">
                            {% csrf_token %}
                            <span>{{ error }}</span>
                            <div class="email-box">
                                <div class="input">
                                    {{ form.as_p}}
                                </div>
                            </div>
                            <button type="submit" class="btn btn-success">Отправить</button>
                        </form>
                    </div>
                </div>
			</div>	
		</div>
		<!-- ***** Конец текста заголовка ***** -->
	</div>
	<!-- ***** Конец Зоны приветствия ***** --> 
{% endblock%}
<!-- Если то основной, то это что? А ну это то что чуть пониже -->
{% block content %}

{% endblock %}