<!-- Подклкючение базового html дока -->
{% extends 'perepis/base.html' %}
<!-- Подключение статики -->
{% load static %}
<!-- Ввод названия вкладки title передается в views.py -->
{% block title %} {{ title }} {% endblock %}
<!-- Менюшка сайта -->
{% block menu %}
    <!-- ***** Меню начало ***** -->
    <ul class="nav">
        <li class="submenu">
                <li><a href="#welcome">Начальная страница</a></li>
                <li><a href="#features">Особенности</a></li>
                <li><a href="#testimonials">Рекомендации</a></li>
                <li><a href="{% url 'write_review' %}">Написать отзывы</a></li>
                <li><a href="#" class="btn-nav-line"><span>Войти</span></a></li>
        </li>
    </ul>
    <!-- ***** Меню конец ***** -->
{% endblock %}
<!-- Основной контент сайтека -->
{% block base_info %}
<div class="row">
    <div class="col-lg-5 col-md-12 col-sm-12">
        <h1>Оставьте ваш отзыв</h1>
        <form method="post" action="" enctype="multipart/form-data">
            {% csrf_token %}
            <span>{{ error }}</span>
            <div class="email-box">
                <div class="input">
                    {{ form.as_p}}
                </div>
            </div>
            <button type="submit" class="btn btn-success">Отправить</button>
        </form>
    </div>
</div>
{% endblock%}
<!-- Если то основной, то это что? А ну это то что чуть пониже -->
{% block content %}

{% endblock %}